VITE_API_BASE_URL=https://api.frendly.tech
VITE_IOS_STORE_URL=https://apps.apple.com/search?term=Frendly
VITE_ANDROID_STORE_URL=https://play.google.com/store/search?q=Frendly&c=apps
VITE_DEFAULT_STORE_URL=/
